<aside id="page__aside">
  <div class="wrapper">
    <h2 class="aside__title">3 reasons to purchase</h2>
    <div class="aside__grid">
      <div class="aside__grid__item">
        <h3 class="aside__grid__item-title">Ut sed metus</h3>
        <p class="aside__grid__item-text">Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div class="aside__grid__item">
        <h3 class="aside__grid__item-title">Curabitur ac erat</h3>
        <p class="aside__grid__item-text">Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div class="aside__grid__item">
        <h3 class="aside__grid__item-title">Morbi dictum</h3>
        <p class="aside__grid__item-text">Aliquam in dolor et dolor tincidunt.</p>
      </div>
    </div>
    <div class="aside__button__container">
      <button class="aside__button">More reasons</button>
    </div>
  </div>
</aside>