<footer class="page__footer">
  <div class="wrapper">
    <div class="footer__arrow"><a href="" class="footer__arrow__link"></a></div>
    <div class="footer__container">
      <nav class="footer__links">
        <ul class="footer__links__list">
          <li><a href="" class="footer__links__item">Articles</a></li>
          <li><a href="" class="footer__links__item">Books</a></li>
          <li><a href="" class="footer__links__item">Events</a></li>
          <li><a href="" class="footer__links__item">Reasons</a></li>
          <li><a href="" class="footer__links__item">Tips</a></li>
        </ul>
      </nav>
      <nav class="footer__social">
        <ul class="footer__social__list">
          <li><a href="" class="footer__social__item">Twitter</a></li>
          <li><a href="" class="footer__social__item">Instagram</a></li>
          <li><a href="" class="footer__social__item">Mastodon.social</a></li>
        </ul>
      </nav>
      <div class="footer__copy">
        <div class="footer__copyright">&copy;2017</div>
        <div class="footer__love">
          <p>we (L) components</p>
        </div>
      </div>
    </div>
  </div>
</footer>