.header__arrow {
  height: 45px;
  width: 45px;
  background-color: $colorWhite;
  border-radius: 50%;
  background-image: url(../../../assets/images/ico-scroll-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.burger__button {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $colorMedium;
  border: none;
  height: 44px;
  width: 44px;
  background-image: url(../../../assets/images/ico-menu.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.main__button {
  height: 45px;
  padding: 0 25px 0 26px;
  border: solid 2px $colorOrange;
  border-radius: 50px;
  background-color: $colorWhite;
  @include buttonTextStyle($colorOrange);
  margin: 0;
  &:hover {
    background-color: $colorOrange;
    color: $colorWhite;
    transition: ease 0.3s;
  }
  @media all and (min-width: 768px){
    width: 91px;
  }
  @media all and (min-width: 1200px){
    width: 160px;
  }
}

.aside__button {
  height: 45px;
  width: 184px;
  border: none;
  border-radius: 50px;
  border: solid 2px transparent;
  background-color: $colorOrange;
  @include buttonTextStyle($colorWhite);
  line-height: 40px;
  &:hover {
    background-color: $colorWhite;
    color: $colorOrange;
    border: solid 2px $colorOrange;
    transition: ease 0.3s;
  }
  @media all and (min-width: 768px) {
    width: 210px;
  }
  @media all and (min-width: 1200px) {
    width: 255px;
  }
}

.footer__arrow  {
  height: 45px;
  width: 45px;
  background-color: $colorWhite;
  border-radius: 50%;
  background-image: url(../../../assets/images/ico-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  from {
    // transform: rotate(0deg);
    top: -2%;
  }
  to {
    top: 7%;
    // transform: rotate(360deg);
  }
}