#page__main {
  padding-bottom: 45px;
  @media all and (min-width: 768px){
    padding-bottom: 60px;
  }
  @media all and (min-width: 1200px) {
    padding: 60px 275px 60px 275px;
    .wrapper {
      margin: 0;
    }
  }
}

.main__above-title {
  font-family: $fontText;
  font-size: 14px;
  line-height: 30px;
  color: $colorLight;
  padding: 30px 0 1px 0;
  margin: 0;
  @media all and (min-width: 1200px) {
    font-size: 16px;
    padding-top: 0;
  }
}

.main__title {
  @include titleStyle;
  margin: 0;
  padding-bottom:15px;
  @media all and (min-width: 768px) {
    @include titleStyleTablet;
    padding-bottom: 30px;
  }
  @media all and (min-width: 1200px) {
    @include titleStyleDesktop;
  }
}

.main__text {
 @include paragraphStyle($colorGray);
 padding-bottom: 30px;
 margin: 0;
 @media all and (min-width: 768px) {
   @include paragraphStyleTablet($colorGray);
 }
}