.main__above-title {
  font-family: $fontText;
  font-size: 14px;
  line-height: 30px;
  color: $colorLight;
  padding: 30px 0 1px 0;
  margin: 0;
}

.main__title {
  @include titleStyle;
  margin: 0 0 15px 0;
  text-transform: capitalize;
}

.main__text {
 @include paragraphStyle($colorGray);
 padding-bottom: 30px;
 margin: 0;
}

.main__button {
  height: 45px;
  width: 76px;
  border: solid 2px $colorOrange;
  border-radius: 50px;
  background-color: $colorWhite;
  margin-bottom: 45px;
}

.main__button__link {
  text-decoration: none;
  @include buttonTextStyle($colorOrange);
}