/*paleta colores*/
$colorOrange: #f26002;
$colorWhite: #ffffff;
$colorLight: #8ccbea;
$colorMedium: #0271bc;
$colorDark: #304268;
$colorGray: #4a4a4a;
$colorPastel: #eff9ff;

/*typography*/
$fontTitle: 'Roboto Slab', serif;
$fontText: 'Roboto', sans-serif;
